	<html>
	<head>

		
		<link rel="stylesheet" href="styles.css">

		<title>	
			node js		</title>
	
			
		</head>


	<body>	

		<form method="POST" action="/submit">
			<label for="id"> Name :</label><br>
			<input type="text" name="Name" ><br>
			<label for="Name"> Email :</label><br>
			<input type="text" name="Email"><br>
			<label for="Name"> Address :</label><br>
			<input type="text" name="Address"><br>
			<label for="Name"> Phone :</label><br>
			<input type="text" name="Phone"><br>
			<input type="submit" value="submit"> 

		</form>



		<h1> profile js </h1>

		<h2> 404 page </h2>
		<h3>nooooo  </h3>

	

	



	</body>
	</html>